<p id="notice"><%= notice %></p>

<h1>Participants</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Familyname</th>
      <th>Kyc approved</th>
      <th>Agreement</th>
      <th>Privacy agr</th>
      <th>Eth adress</th>
      <th>Cont amount</th>
      <th>Eth tx</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @participants.each do |participant| %>
      <tr>
        <td><%= participant.firstname %></td>
        <td><%= participant.familyname %></td>
        <td><%= participant.kyc_approved %></td>
        <td><%= participant.agreement %></td>
        <td><%= participant.privacy_agr %></td>
        <td><%= participant.eth_adress %></td>
        <td><%= participant.cont_amount %></td>
        <td><%= participant.eth_tx %></td>
        <td><%= participant.user_id %></td>
        <td><%= link_to 'Show', participant, class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_participant_path(participant), class: "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        <% if current_user.admin?%>
          <% if participant.kyc_approved?%>          
             <td><%= link_to 'Onayı kaldır', approve_participant_path(participant), class: "btn btn-warning", method: :put %></td>        
          <% else %>
            <td><%= link_to 'Onayla', approve_participant_path(participant), class: "btn btn-success", method: :put %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Participant', new_participant_path %>
