<p id="notice"><%= notice %></p>

<h1> Katılımcı Bilgileri</h1>
<h3><%= @participant.firstname + " " + @participant.familyname %></h3>



<p>
  <strong>Kyc:</strong>
  <%if @participant.kyc_approved %>
  <p class="text-success">Onaylandı</p>
  <% else %>
  <p class="text-danger">Onaylanmadı</p>
  <% end %>
</p>

<p>
  <strong>Satış Sözleşmesi:</strong>
  <%if @participant.agreement %>
  <p class="text-success">İmzalandı</p>
  <% else %>
  <p class="text-danger">İmzalanmadı</p>
  <% end %>
</p>


<p>
  <strong>Gizlilik Sözleşmesi</strong>
  
  <%if @participant.privacy_agr %>
  <p class="text-success">İmzalandı</p>
  <% else %>
  <p class="text-danger">İmzalanmadı</p>
  <% end %>
</p>

<p>
  <strong>Eth adress:</strong>
  <%= @participant.eth_adress %>
</p>

<p>
  <strong>Cont amount:</strong>
  <%= @participant.cont_amount %>
</p>

<p>
  <strong>Eth tx:</strong>
  <%= @participant.eth_tx %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @participant.user_id %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
